/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  padding: 0;
  margin: 0;
}
body {
  overflow-y: scroll;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
p,
span {
  font-size: 14px;
  color: #a3a3a3;
}
.clear {
  clear: both;
}
.hide {
  display: none;
}
.main-container {
  width: 1024px;
  margin: 0 auto;
}
.top-header {
  font-size: 12px;
}
.top-header .top-header__your-city {
  font-size: 12px;
  float: left;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-left: 20px;
}
.top-header .top-header__location {
  font-size: 12px;
  margin-left: 5px;
  color: #000;
}
.top-header .top-header__log-in {
  float: right;
  cursor: pointer;
  outline: none;
  width: 155px;
  height: 40px;
  margin-right: 25px;
  border: none;
  background-color: #fcfcef;
}
.top-header .top-header__log-in span {
  color: #000;
  font-size: 12px;
  vertical-align: middle;
}
.top-header .top-header__log-in img {
  margin-right: 5px;
  vertical-align: middle;
}
.top-header hr {
  width: 95.6%;
  background-color: #f0f0f0;
  border: 0;
  height: 1px;
  margin-left: 20px;
  padding: 0;
}
main {
  padding-bottom: 85px;
  padding-top: 30px;
}
main header .header__logotype {
  margin-left: 20px;
}
main header .header__breadcrumbs {
  margin-top: 25px;
  margin-left: 40px;
}
main header .header__breadcrumbs ul li {
  font-size: 12px;
  display: inline-block;
}
main header .header__breadcrumbs ul li a {
  color: mediumblue;
  text-decoration: none;
}
main header .header__breadcrumbs ul li a:hover {
  text-decoration: underline;
}
main .description {
  margin-top: 40px;
}
main .description .description__name-product {
  margin-left: 40px;
  font-size: 30px;
  font-weight: bold;
}
main .description .description__count-model {
  font-weight: normal;
  font-size: 30px;
}
main .description .description__sub-name-product {
  margin-top: 25px;
  margin-left: 60px;
  color: #a3a3a3;
  font-weight: bold;
}
main .description .description__text {
  width: 665px;
  line-height: 1.4;
  margin-top: 10px;
  margin-left: 60px;
  margin-bottom: 20px;
}
main .description .description__hidden-text {
  margin-left: 60px;
  width: 300px;
  height: 20px;
  border: 1px solid red;
}
main .description .description__full-text {
  text-decoration: none;
  font-size: 14px;
  color: mediumblue;
  margin-left: 60px;
}
main .description .description__full-text:hover {
  text-decoration: underline;
}
.foot {
  padding-top: 35px;
  padding-bottom: 15px;
  background-color: #353535;
}
.foot footer .footer__name-shop {
  font-size: 30px;
  color: #d1d1d1;
  margin-left: 20px;
}
.foot .foot__about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  margin-top: 20px;
}
.foot .foot__about-us p {
  line-height: 1.4;
  font-size: 16px;
}
.foot .foot__about-us p:first-child {
  margin-left: 20px;
  margin-right: 275px;
}
.foot .foot__about-us p:last-child {
  margin-left: 60px;
}
.foot .foot__about-us p .phone-number {
  color: #d1d1d1;
  font-size: 16px;
  font-weight: bold;
}
.foot .foot__about-us p .foot__about-us__contact__email {
  font-size: 16px;
  color: #d1d1d1;
}
.foot .foot__about-us p .foot__about-us__contact__skype {
  height: 20px;
  color: #d1d1d1;
  display: inline-block;
  margin-top: 15px;
}
.foot .foot__about-us p .foot__about-us__contact__skype img {
  vertical-align: bottom;
  margin-right: 5px;
}
.foot .foot__about-us p .foot__about-us__contact__skype span {
  font-size: 16px;
  color: #d1d1d1;
}
