@import url(reset.less);

@dark-grey:  #353535;
@light-pink: #fcfcef;
@grey:       #a3a3a3;
@light-grey: #d1d1d1;

hr{
	padding: 0;
	margin: 0;
}
body{
	overflow-y: scroll;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

p,span{
	font-size: 14px;
	color: @grey;
}

.clear{
	clear: both;
}
.hide{
	display: none;
}


.main-container{
	width: 1024px;
	//width: 76%;
	margin: 0 auto;
}
.top-header{
	font-size: 12px;
	.top-header__your-city{
		font-size: 12px;
		float: left;
		padding-top: 15px;
		padding-bottom: 10px;
		margin-left: 20px;
	}
	.top-header__location{
		font-size: 12px;
		margin-left: 5px;
		color: #000;
	}
	.top-header__log-in{
		float: right;
		cursor: pointer;
		outline: none;
		width: 155px;
		height: 40px;
		margin-right: 25px;
		border: none;
		background-color: @light-pink;
		span{
			color: #000;
			font-size: 12px;
			vertical-align: middle;
		}
		img{
			margin-right: 5px;
			vertical-align: middle;
		}
	}
	hr{
		width: 95.6%;
		background-color: #f0f0f0;
		border: 0;
		height: 1px;
		margin-left: 20px;
		padding: 0;
	}
}
main{
	padding-bottom: 85px;
	padding-top: 30px;
	header{
		.header__logotype{
			margin-left: 20px;
		}
		.header__breadcrumbs{
			margin-top: 25px;
			margin-left: 40px;
			ul{
				li{
					font-size: 12px;
					display: inline-block;
					a{
						color: mediumblue;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	.description{
		margin-top: 40px;
		.description__name-product{
			margin-left: 40px;
			font-size: 30px;
			font-weight: bold;
		}
		.description__count-model{
			font-weight: normal;
			font-size: 30px;
		}
		.description__sub-name-product{
			margin-top: 25px;
			margin-left: 60px;
			color: @grey;
			font-weight: bold;
		}
		.description__text{
			width: 665px;
			line-height: 1.4;
			margin-top: 10px;
			margin-left: 60px;
			margin-bottom: 20px;
		}
		.description__hidden-text{
			margin-left: 60px;
			width: 300px;
			height: 20px;
			border: 1px solid red;
		}
		.description__full-text{
			text-decoration: none;
			font-size: 14px;
			color: mediumblue;
			margin-left: 60px;
			&:hover{text-decoration: underline;}

		}
	}
}
.foot{
	padding-top: 35px;
	padding-bottom: 15px;
	background-color: @dark-grey;
	footer{
		.footer__name-shop{
			font-size: 30px;
			color: @light-grey;
			margin-left: 20px;
		}
	}
	.foot__about-us{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: flex-start;
		margin-top: 20px;
		p{
			line-height: 1.4;
			font-size: 16px;
			&:first-child{
				margin-left: 20px;
				margin-right: 275px;
			}
			&:last-child{
				margin-left: 60px;
			}
			.phone-number{
				color: @light-grey;
				font-size: 16px;
				font-weight: bold;
			}
			.foot__about-us__contact__email{
				font-size: 16px;
				color: @light-grey;
			}
			.foot__about-us__contact__skype{
				height: 20px;
				color: @light-grey;
				display: inline-block;
				margin-top: 15px;
				img{
					vertical-align: bottom;
					margin-right: 5px;
				}
				span{
					font-size: 16px;
					color: @light-grey;
				}
			}
		}
	}
}