<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>third task</title>

    <link   rel="stylesheet" href="css/main.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">window.jQuery || document.write(' <script type="text/javascript" src="libs/jquery-3.2.1.min.js"><\/script>')</script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
</head>
<body>
<div id="root"></div>

<script type="text/x-handlebars-template"  id="template_1">
    <div class="main-container">
        <div class="top-header">
            <p class="top-header__your-city">Ваш город
                <span class="top-header__location">{{city}}</span></p>
            <button class="top-header__log-in">
                <img src="img/icPeople.png" alt="icon people">
                <span>Личный кабинет</span>
            </button>
            <div class="clear"></div>
            <hr>
        </div>
        <main>
            <header>
                <img src="img/logo.png" alt="TECHNODOM" class="header__logotype">
                <nav class="header__breadcrumbs">
                    <ul>
                        {{#each breadcrumbs}}
                        <li><a href="">{{this}} </a></li>
                        {{/each}}
                    </ul>
                </nav>
            </header>
            <div class="description">
                <h1 class="description__name-product">Ноутбуки <span class="description__count-model">({{countModel}})</span></h1>
                <h2 class="description__sub-name-product">Ноутбуки</h2>
                <p class="description__text">Магазин «ТЕХНОДОМ» рад приветствовать всех, кто ценит мобильность и удобство портативных
                    компьютеров,
                    и предлагает по приемлемой стоимости самые современные ноутбуки в Казахстане! В  данном разделе Вы можете
                    выбрать и выгодно купить ноутбук в Актобе, в Алматы, в Астане, в  Караганде, в Костанае, в Павлодаре, в
                    Усть-Каменогорске и других населенных пунктах страны,</p>
                <p class="description__hidden-text hide"></p>
                <a href="" class="description__full-text">Читать полностью</a>
            </div>
        </main>
        <div class="foot">
            <footer>
                <h1 class="footer__name-shop"> Технодом </h1>
            </footer>
            <div class="foot__about-us">
                <p class="foot__about-us__description-shop">Интернет-магазин бытовой <br> техники и электроники</p>
                <p class="foot__about-us__call">Единый Call Center <br><span>Бесплатные звонки по Казахтану</span>
                    <br>
                    <span class="phone-number">8 800 080 1111</span>
                </p>
                <p class="foot__about-us__contact">Электронная почта <br>
                    <span class="foot__about-us__contact__email">callcenter@technodom.kz</span>
                    <br>
                    <span class="foot__about-us__contact__skype"><img src="img/skype.png" alt="skype"> <span>admin.technodom</span></span>
                </p>
            </div>
        </div>
    </div>
</script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
